<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h3>My Node</h3>
            <table class="table table-bordered table-striped">
                <tr>
                    <th>Name</th>
                    <td>  {{ChainInfo?.chainname}}</td>
                </tr>
                <tr>
                    <th>Version</th>
                    <td>{{ChainInfo?.protocolversion}}</td>
                </tr>
                <tr>
                    <th>Protocol</th>
                    <td>{{ChainInfo?.protocol}}</td>
                </tr>
                <tr>
                    <th>Node address</th>
                    <td>{{ChainInfo?.nodeaddress}}</td>
                </tr>
                <tr>
                    <th>Blocks</th>
                    <td>{{ChainInfo?.blocks}}</td>
                </tr>
                <tr>
                    <th>Peers</th>
                    <td>{{ChainInfo?.connections}}</td>
                </tr>
            </table>
            
            <div *ngIf="peers">
                <div *ngIf="peers.length!=0" >
                    <h3>Connected Nodes</h3>
                    <div *ngFor="let p of peers">
                        <h4> Peer {{p?.addr}} </h4>
                        <table class="table table-bordered table-striped table-break-words">
                            <tr>
                                <th>Node IP address</th>
                                <td>{{p?.addr}}</td>
                            </tr>
                            <tr>
                                <th>Handshake address</th>
                                <td class="td-break-words small">{{p?.handshake}}</td>
                            </tr>
                            <tr>
                                <th>Latency</th>
                                <td>{{p?.pingtime}} sec</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
