<div class="container">
    <div class="row">
        
        <div class="col-sm-12">
            <h3>Create Contract</h3>
            <hr>
            <form class="form-horizontal">

                <div class="form-group">
                    <label for="name" class="col-sm-2 control-label">Project Name</label>
                    <div class="col-sm-9">
                        <input class="form-control" name="name" id="name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="client" class="col-sm-2 control-label">Client</label>
                    <div class="col-sm-9">
                        <select class="form-control" name="client" id="client" (change)="onClickFromAddress($event.target.value)">>
                            <option *ngFor="let address of fromAddresses">
                                                {{address.address}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="freelancer" class="col-sm-2 control-label">Freelancer</label>
                    <div class="col-sm-9">
                        <select class="form-control" name="freelancer" id="freelancer" >
                            <option *ngFor="let address of toAddresses">
                                                {{address.address}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="contract_type" class="col-sm-2 control-label">Contract type</label>
                    <div class="col-sm-9">
                        <select class="form-control" name="contract_type" id="contract_type">
                            <option value="Client-Developer">Client-Developer</option>
                            <option value="Client-QA">Client-QA</option>
                            <option value="Client-Consultant">Client-Consultant</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="qty" class="col-sm-2 control-label">Deadline</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="date" name="deadline" id="deadline" >
                    </div>
                </div>
                <div class="form-group">
                    <label for="asset" class="col-sm-2 control-label">Asset name</label>
                    <div class="col-sm-9">
                        <select class="form-control" name="asset" id="asset">
                            <option *ngFor="let balance of balances">
                                                {{balance?.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="qty" class="col-sm-2 control-label">Amount</label>
                    <div class="col-sm-9">
                        <input class="form-control" name="qty" id="qty" placeholder="100.0">
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="col-sm-2 control-label">Project description</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" rows="4" name="description" id="description"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-9">
                        <input class="btn btn-primary" type="submit" name="publish" value="Publish Contract">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>